# Redis
REDIS_URL=redis://default:Bs428690@postgrest_redis:6379

# PostgreSQL
DB_HOST=epanel2.billzap.com.br
DB_PORT=5432
DB_NAME=postgrest
DB_USER=postgres
DB_PASSWORD=Bs428690

# Worker
WORKER_CONCURRENCY=10
WORKER_MAX_RETRIES=3
WORKER_RETRY_DELAY=60000
CONTAINER_POLL_INTERVAL=15000
CONTAINER_TIMEOUT=1200000

# Segurança
CRON_SECRET=sfagfgds1g5sd1g5sdg1
